# generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# required for non-vercel deployments, vercel uses OIDC automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=****

# KhentAI API key - https://agnes-ai.com/en/docs/agnes-20-flash
AGNES_API_KEY=****

# Google Cloud Storage bucket for file uploads
GOOGLE_STORAGE_BUCKET=****

# https://neon.tech/docs/serverless/serverless-driver
POSTGRES_URL=****

# https://redis.io/docs/get-started/
REDIS_URL=****
